.appcontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 1);
}

.navbarcontainer {
  width: 13.5vw;
  height: 100%;
  content:url(./assets/navbar.svg);
  background-color: #EBEBEB;
}

.contentcontainer {
  width: 86.5vw;
  height: 100%;
  overflow: scroll;
  object-fit: contain;
  padding-bottom: 0%; 
  background-color: #EBEBEB;
}

/* .piccontainer {
  height: fit-content;
} */

.darken {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.42);
}

